<%= form_for @comment, url: comments_path, remote: true, :html => { :class => 'form-horizontal' } do |f| %>

        <%= f.hidden_field :article_id, value: @article.id %>

        <% if current_user %>

            <%= f.hidden_field :user_id, value: current_user.id %>

        <% end %>

        <br/>

        <div class="control-group">
          <%= f.label :comment, :class => 'control-label' %>
          <div class="controls">
           <%= f.text_area :content, :class => 'text_area', rows: 5 %>
          </div>
        </div>
        <br/>

        <div class="form-actions">
          <%= f.submit nil, :class => 'btn btn-primary' %>
        </div>

<% end %>

