<h4>

  <% if !current_user %>

    <%= link_to 'Log-in', new_session_path %>

  <% else %>

    Hello <%= current_user.username %>

    <%= link_to 'Log-Out', session_path(current_user.id), method: "DELETE" %>

  <% end %>

</h4>

<div class="digg_pagination">
    <div class="page_info">
      <%= page_entries_info @articles %>
    </div>
    <%= will_paginate @articles, :container => false %>
  </div>

<% @articles.each do |article| %>

  <h3><%= article.title %></h3>

  <p>

    <%= article.content.truncate(20) %>

    <%= link_to 'read more', article_path(article.id) %>

  </p>

    <h4>status : <%= article.status %></h4>

  <p>

    <span><%= link_to 'edit', edit_article_path(article.id) %><span>
    <span> | </span>

    <span>
      <%= link_to 'delete', article_path(article.id), method: "DELETE", data: {confirm: 'Hapus data ini ? '} %>
    </span> 

  </p>

  <hr/>

<% end %>